<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>포인트 충전 및 입찰</title>
    <!-- 아임포트 라이브러리 추가 -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>
<body>
<div data-th-replace="header :: header"></div>
<h2>마이페이지</h2>

<img data-th-if="${session.loginUser.profilePhoto == null}" style='height:40px' src='/images/avatar.png'>
<img data-th-if="${session.loginUser.profilePhoto != null}"
     data-th-src="${'http://tyasnlztlptw19619311.cdn.ntruss.com/member/' + session.loginUser.profilePhoto + '?type=f&w=30&h=40&faceopt=true&ttype=jpg'}">
<br>
<span id="userName" data-th-text="'이름 : ' + ${session.loginUser.name}+님"></span><br>
<span id="userPhone" data-th-text="'전화번호 : ' + ${session.loginUser.phone}+님"></span><br>
<span id="email" data-th-text="'이메일 : ' + ${session.loginUser.email}"></span><br>


<!-- 포인트 충전 입력 필드 -->
<h2>포인트 충전</h2>
<input type="text" id="rechargeAmount" placeholder="충전할 포인트 입력" onkeyup="formatCurrency(this)">
<button id="rechargeButton">포인트 충전</button>


<!-- 결과 표시를 위한 엘리먼트 -->
<div id="result"></div>

<!-- HTML 태그에 삽입 -->
<div id="userNo" data-th-text="${session.loginUser.no}" style="display: none;"></div>
<div id="userPoint" data-th-text="${session.loginUser.point}" style="display: none;"></div>


<!-- 포인트 충전 및 입찰 스크립트 -->
<script src="/js/chargeScript.js"></script>
<!--<script src="/js/bidScript.js"></script>-->
<div data-th-replace="footer :: footer"></div>
</body>
</html>


